.boost {
  padding: 154px 0 120px 0;

  @include respond(1400px) {
    padding: 100px 0 70px 0;
  }
}

.boost .boost-inner {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @include respond(1220px) {
    width: 100%;
    padding: 0;
    }
}

.boost .title {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 25px;

  @include respond(810px) {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
    }
}

.boost .card-list {
  display: flex;
  align-items: baseline;

  @media screen and (max-width: 1350px) {
    flex-wrap: wrap;
  }
}

.boost .card-list .card {
  max-width: 410px;
  width: 100%;
  margin-right: 30px;

  @media screen and (max-width: 989px) {
    max-width: none;
    width: 100%;
    margin-right: 0;
  }
}

.boost .card-list .card:last-child {
  margin: 59px 0 58px 0;

  @media screen and (max-width: 989px) {
    margin: 20px 0 10px 0;
  }
}

.boost .card-list .card .image {
  margin: 50px 0 49px 0;

  @media screen and (max-width: 989px) {
    margin: 20px 0 10px 0;
  }
}

.boost .card-list .card .image:nth-child(2) {
  margin: 67px 0;
}

.boost .card-list .card .subject {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px; 
  margin-bottom: 34px;

  @media screen and (max-width: 989px) {
    margin-bottom: 16px;;
  }
}

.boost .card-list .card .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}

.boost .card-list .card .link {
  color: $color-black; 
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline; 
}

.boost .card-list .card .link:hover {
  color: $color-green;
}
