.companies {
  background: #FF9C7D;
  padding: 108px 0 104px 0;

  @include respond(1400px) {
    padding: 50px 0;
  }

  @include respond(1220px) {
    padding: 20px 0;
    }
}

  .companies .companies-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  @include respond(1220px) {
    padding: 20px 0;
    }
}

.companies .title {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  max-width: 720px;
  width: 100%;
  margin-bottom: 70px;

  @include respond(1100px) {
    font-size: 50px;
    margin-bottom: 30px;
    }

  @include respond(810px) {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
    }
}

.companies .card-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.companies .image {
  margin-right: 102px;

  @include respond(1400px) {
    margin: 30px;
  }

  @media screen and (max-width:560px) {
    width: calc(50% - 60px);
    height: 50px;
  }
}

.companies image:last-child {
  margin-right: 0;

  @include respond(1400px) {
    margin: 30px;
  }
}